
@{
    ViewBag.Title = "StatusMaster";
}

<!-- Form Element area Start-->
<div class="form-element-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list">
                    @*<div class="basic-tb-hd">
                            <h2>Input Text</h2>
                            <p>Text Inputs with different sizes by height and column.</p>
                        </div>*@
                    <div class="cmp-tb-hd bcs-hd">
                        <h2>Status Master</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group ic-cmp-int">
                                <div class="form-ic-cmp">
                                    <i class="notika-icon notika-support"></i>
                                </div>
                                <div class="nk-int-st">
                                    <input type="text" class="form-control" placeholder="Status Name" id="txtStatus">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <button class="btn btn-primary notika-btn-primary" id="btnCreate" onclick="fnSave();">Save</button>
                            <button class="btn notika-btn-bluegray btn-reco-mg btn-button-mg" onclick="Cancel();">Cancel</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h2>List Of Status Master</h2>

                    </div>
                    <div class="table-responsive">
                        <table id="tblData" class="table table-striped"></table>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<link href="~/Content/TEST/datatables.css" rel="stylesheet" />
<script src="~/Content/TEST/datatables.js"></script>

<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>




<script type="text/javascript">
    //Global Variables
    var GlobalId = 0;
    //Global Variables
    $(document).ready(function ()
    {
        LoadData();
    });
    //Document Ready Closed
    function fnEdit(Id) {
        debugger;
        var obj = Id;// JSON.parse(Id);
        $('#txtStatus').val(obj.Status_Name);




        GlobalId = obj.Id;
        Is_Edit = true;
        $('#btnCreate').text('Update');
    }
    function fnSave()
    {
        var Status_Name = $.trim($('#txtStatus').val());
        if (Status_Name == "") {
            ALERT('Please Enter the Status Name');
            return false;
        }
        $.ajax({
            url: '@Url.Action("SaveStatusMaster","Master")',
            data: "Status_Name=" + Status_Name + "&Id=" + GlobalId,
            type: "POST",
            success: function (resp) {
                if (resp != null) {
                    if (resp.split(':')[0] == "SUCCESS") {
                        if (GlobalId == 0) {
                            ALERT("Saved Successfuly.");
                        }
                        else {
                            ALERT("Updated Successfuly.");
                        }
                        //$('#txtStatus').val('');
                        //GlobalId = 0;
                        //$('#btnCreate').text('Save');
                        Cancel();
                        LoadData();
                    } else {
                        ALERT("Error");
                    }
                } else {
                    ALERT("Error");
                }

            }
        });

    }
    function LoadData() {
        $.ajax({
            url: '@Url.Action("LoadstatusMaster", "Master")',
            //data:"Problem_Categroy="+Prob_Cat,
            type: "POST",
            success: function (resp) {
                if (resp != null) {
                    var str = "";
                    str += "<thead>";
                    str += "<tr>";
                    str += "<th>Status Name</th>";
                    str += "<th>Is Active</th>";
                    str += "<th>Created By</th>";
                    str += "<th>Created date</th>";
                    str += "<th>Action</th>";
                    str += "<th>Delete</th>";
                    str += "</tr>";
                    str += "</thead>";
                    str += "<tbody>";

                    for (var l = 0; l < resp.length; l++) {
                        str += "<tr>";
                        str += "<td>" + resp[l].Status_Name + "</td>";
                        if (resp[l].Is_Active = 1) {
                            str += "<td>Yes</td>";
                        } else {
                            str += "<td>No</td>";
                        }

                        str += "<td>" + resp[l].Created_By + "</td>";
                        str += "<td>" + resp[l].Created_Date + "</td>";
                        var ac = JSON.stringify(resp[l]);
                        str += "<td><a href='#' onclick=fnEdit(" + ac.replace(/\ /g, "&nbsp;") + ");>Edit</a></td>";
                        str += "<td><a href='#' onclick=Delete(" + resp[l].Id + ");>Delete</a></td>";
                        str += "</tr>";
                    }
                    str += "</tbody>";
                    $('#tblData').empty();
                    $('#tblData').append(str);
                    $('#tblData').DataTable().destroy();
                    $('#tblData').DataTable(
                        {
                            dom: 'Bfrtip',
                            buttons: [
                                {
                                    extend: 'copyHtml5',
                                    className: 'btn btn-primary notika-btn-primary waves-effect',
                                    exportOptions: {
                                        columns: [0, 1, 2, 3]
                                    }
                                },
                                {
                                    extend: 'excelHtml5',
                                    className: 'btn btn-primary notika-btn-primary waves-effect',
                                    exportOptions: {
                                        columns: [0, 1, 2, 3]
                                    }
                                }
                            ]
                        }
                    );

                } else {
                    //ALERT("Error");
                }

            }
        });
    }
    function Cancel() {
        $('#txtStatus').val('');
        GlobalId = 0;
        $('#btnCreate').text('Save');
    }
    function Delete(Id) {
        var r = confirm("Are you Sure You want to delete it");
        if (r == true) {
              $.ajax({
            url: '@Url.Action("Delete_StatusMaster", "Master")',
            data: "Id=" + Id,
            type: "POST",
            success: function (resp) {
                LoadData();
            }
        });
        } else {
        }

    }
</script>




