
@{
    ViewBag.Title = "ChangePassword";
}

<div class="form-element-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-example-wrap mg-t-30">
                    <div class="cmp-tb-hd cmp-int-hd">
                        <h2>Change Password</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-example-int form-example-st">
                                <div class="form-group">
                                    <div class="nk-int-st">
                                        <input type="password" class="form-control input-sm" placeholder="Password" id="txtPWD">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="form-example-int form-example-st">
                                <div class="form-group">
                                    <div class="nk-int-st">
                                        <input type="password" class="form-control input-sm" placeholder="Confirm Password" id="txtCPWD">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
                            <div class="form-example-int">
                                <button class="btn btn-success notika-btn-success" onclick="fnChangePassword();" id="btnChange">Change</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="~/Content/PassRequirements.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#btnChange').hide();
    });
    function fnChangePassword() {
        var PWD = $.trim($('#txtPWD').val());
        var CPWD = $.trim($('#txtCPWD').val());
        if (PWD == ""){
            ALERT("Please Enter the Password");
            return false;
        }
        if (CPWD == ""){
            ALERT("Please Enter the Confirm Password");
            return false;
        }
        if (PWD !=CPWD) {
            ALERT("Password and Confirm Password are not Same");
            return false;
        }
        $.ajax({
            url: '@Url.Action("ChangePassword_M", "Home")',
            data: "CPWD=" + CPWD,
            type: "POST",
            success: function (resp) {
                if (resp != "") {
                    $('#txtPWD').val('');
                    $('#txtCPWD').val('');
                    ALERT('Password Changed Successfully');
                }
            }
        });
    }
    $('#txtCPWD').PassRequirements();
    //$('#txtPWD').PassRequirements();
</script>
